# dependencies
node_modules

# system files
.DS_Store

# Logs
*.log

# build artifacts
dist/

# Logs
*.log

# vs code workspace
.code-workspace

# misc files
package-lock.json
package-deps.json
release